@model int[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ergebnis</title>
</head>
<body>
    <h1>Ergebnis</h1>
    Dorsch :>  @Model[0]<br />
    Aal :>  @Model[2]<br />
    Hering :>  @Model[3]<br />
    Rochen :>  @Model[4]<br />
    Sprotten :>  @Model[1]<br />


</body>
</html>
